<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Webspejd</title>
        <style>
            .last-update {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 0.8em;
                color: #666;
            }
        </style>
        <script>
            const lastUpdateTime = new Date();
            document.addEventListener("DOMContentLoaded", () => {
                const lastUpdateElement = document.createElement('div');
                lastUpdateElement.className = 'last-update';
                document.body.appendChild(lastUpdateElement);

                const updateFunction = () => {
                    fetch('/master/checkins')
                    .then(response => response.text())
                    .then(_ => {
                        lastUpdateElement.textContent = `Last update: ${getTime(new Date())}`;
                        document.getElementById("header").style.backgroundColor = "#58A2E7"
                    }).catch(() => {
                        lastUpdateElement.textContent = 'Error updating! Last update: ' + getTime(lastUpdateTime);
                        document.getElementById("header").style.backgroundColor = "#cc0000"
                    });
                };

                setInterval(updateFunction, 3100);
                updateFunction(); // Run immediately on page load
            });
            const getTime = (date) => {
            const leadingZero = (num) => num < 10 ? '0' + num : num;
                return leadingZero(date.getHours()) + ":" + leadingZero(date.getMinutes()) + ":" + leadingZero(date.getSeconds());
            }
        </script>
        <link rel="stylesheet" href="/assets/css/master.css">
    </head>
    <body>
        {% include "./header.html.njk" %}
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    </body>
</html>
