<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Webspejd</title>
        <script src="/js/master/base.js" type="module"></script>
        <script src="/js/dialog.js" type="module"></script>
        <link rel="stylesheet" href="/assets/css/master.css">
    </head>
    <body>
        {% include "./header.html.njk" %}
        <div id="content">
            {% block body %}
            {% endblock %}
        </div>
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    </body>
</html>