<div id="header">
    <span class="brand-title">CCMR Part XXIX · WebSpejd</span>
    <a href="/" class="header-link" title="Hjem">🏠</a>
    <a href="/master" class="header-link" title="Master">📊</a>
</div>
