<div id="header" style="height: 30px; width: 100%;">
    <style>
        .header-container {
        display: flex;
            align-items: center;
            align-items: center;
            height: 100%;
        }
        .header-container img {
            margin-right: 10px;
        }   
        .header-container a {
            display: flex;
            align-items: center;
            height: 100%; /* Ensure the link takes the full height of the container */
        }         
    </style>
    <div class="header-container">
        <a href="/">
            <img src="/assets/images/logo.png" alt="Home" width="30" height="30" vertical-align="middle">
        </a>
        <a href="/master">
            <img src="/assets/images/home.png" alt="Master" width="30" height="30" vertical-align="middle">
        </a>
    </div>
</div>
