{% extends "./base.html.njk" %}
{% import "./utils.html.njk" as utils %}

{% block body %}
    <h2>Poster</h2>
    <div hx-get="/master/posts" hx-trigger="every 5s">
        {{ utils.posts(posts) }}
    </div>
    <h2>Patruljer</h2>
    <div hx-get="/master/patrols" hx-trigger="every 5s">
        {{ utils.patrols(patrols) }}
    </div>
    <h2>Checkins</h2>
    <div hx-get="/master/checkins" hx-trigger="every 5s">
        {{ utils.checkins(checkins) }}
    </div>
{% endblock %}
