{% extends "./base.html.njk" %}
{% import "./utils.html.njk" as utils %}

{% block body %}
    <div class="patrol-header">
        <div>
            <h1>Patrulje {{patrol.number}}: {{patrol.name}}</h1>
            <span class="status-badge {% if patrol.udgået %}status-out{% else %}status-active{% endif %}">
                {% if patrol.udgået %}Udgået{% else %}På løbet{% endif %}
            </span>
        </div>
        <div class="button-group">
            <a href="/master/updatePage?patrolId={{patrol.id}}" class="button">Check ind</a>
            {% if patrol.udgået %}
                <a href="/master/patrolStatus?status=in&patrolId={{patrol.id}}"
                   class="button button-secondary">Genindgå</a>
            {% else %}
                <a href="/master/patrolStatus?status=out&patrolId={{patrol.id}}"
                   class="button button-secondary">Udgå</a>
            {% endif %}
        </div>
    </div>
    <h2>Opdateringer for patrulje</h2>
    <div hx-get="/master/patrolUpdates?patrolId={{patrol.id}}" hx-trigger="every 5s">
        {{ utils.updates(updates) }}
    </div>
{% endblock %}
