{% macro formatUpdateLocation(update) %}
    {% if update == null %}
        Ukendt lokation
    {% elif update.targetLocationId == update.currentLocationId %}
        På <a href="/master/location?id={{update.currentLocationId}}"
              class="hover-underline">
            {{update.currentLocationId | locationName}}
        </a>
    {% else %}
        Mellem <a href="/master/location?id={{update.currentLocationId}}"
               class="hover-underline">
            {{update.currentLocationId | locationName}}
        </a>
        og <a href="/master/location?id={{update.targetLocationId}}"
               class="hover-underline">
            {{update.targetLocationId | locationName}}
        </a>
    {% endif %}
{% endmacro %}

{% macro updates(updates) %}
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="bold">Patrulje</td>
            <td class="bold">Melding</td>
            <td class="bold">Tidspunkt</td>
            <td class="bold">Handling</td>
        </tr>
        {% for update in updates %}
            <tr class="hover-grey">
                <td>
                    <a href="/master/patrol?id={{update.patrolId}}"
                       class="hover-underline">
                        {{update.patrolId | formatPatrol}}
                    </a>
                </td>
                <td>
                    {{ formatUpdateLocation(update) }}
                </td>
                <td>{{update.time | clock}}</td>
                <td>
                    <button
                        hx-confirm="Vil du slette denne patruljeopdatering?"
                        hx-post="/master/deletePatrolUpdate?id={{update.id}}"
                        hx-target="closest tr"
                        hx-swap="outerHTML">Slet
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro locations(locations) %}
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td class="bold">Post</td>
            <td class="bold">På vej</td>
            <td class="bold">På post</td>
            <td class="bold">Forladt post</td>
        </tr>
        {% for location in locations %}
            <tr class="hover-grey">
                <td>
                    {# {{post.id}}. #}
                    <a href="/master/location?id={{location.id}}" class="hover-underline">
                         {{location.name}}
                    </a>
                </td>
                <td>På vej: {{location.patrolsOnTheirWay}}</td>
                <td>På post: {{location.patrolsOnPost}}</td>
                <td>Forladt post: {{location.patrolsCheckedOut}}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro patrols(patrols, sortBy="id", locationId="", selection="") %}
    <div class="patrols"
         hx-get="{{ patrolsUrl(sortBy, locationId, selection) }}"
         hx-trigger="every 5s"
         hx-swap="outerHTML">
        {% if (patrols | length) == 0 %}
            Ingen patruljer
        {% else %}
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <a class="bold clickable"
                           hx-get="{{ patrolsUrl("id", locationId, selection) }}"
                           hx-trigger="click"
                           hx-target="closest .patrols"
                           hx-swap="outerHTML">Patrulje</button>
                    </td>
                    <td>
                        <a class="bold clickable"
                           hx-get="{{ patrolsUrl("location", locationId, selection) }}"
                           hx-trigger="click"
                           hx-target="closest .patrols"
                           hx-swap="outerHTML">Lokation</button>
                    </td>
                    <td>
                        <a class="bold clickable"
                           hx-get="{{ patrolsUrl("time", locationId, selection) }}"
                           hx-trigger="click"
                           hx-target="closest .patrols"
                           hx-swap="outerHTML">Sidste ændring</button>
                    </td>
                </tr>
                {% for patrol in patrols %}
                    {% if patrol%}
                        <tr class="hover-grey">
                            <td> 
                                <a href="/master/patrol?id={{patrol.id}}"
                                class="hover-underline">
                                    {{patrol.id | formatPatrol}}
                                </a>
                            </td>
                            <td>
                                {% if patrol.lastUpdate %}
                                    {{ formatUpdateLocation(patrol.lastUpdate) }}
                                {% else %}
                                    Ikke startet løb.
                                {% endif %}
                            </td>
                            <td>{{patrol.lastUpdate.time | clock}}</td>
                        </tr>
                    {% else %}
                        <tr class="hover-grey">
                            <td>Ukendt patrulje</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endmacro %}


{% macro routes(locationId, showFrom, showTo) %}
    <div class="routes">
        <form hx-post="/master/getRoutesTable"
                hx-trigger="load"
                hx-swap="outerHTML"
                hx-vals="{{JSON.stringify({
                    locationId: locationId,
                    showFrom: showFrom,
                    showTo: showTo
                })}}">
            {# <input type="hidden" name="showFrom" value="{{showFrom}}" />
            <input type="hidden" name="showTo" value="{{showTo}}" />
            <input type="hidden" name="locationId" value="{{locationId}}" /> #}
        </form>
    </div>
{% endmacro %}


{# {% macro routes(routes, showFrom, showTo) %}
    <div class="routes">
        {% if (routes | length) == 0 %}
            Ingen ruter.
        {% else %}
            <table cellspacing="0" cellpadding="0">
                <tr>
                    {% if showFrom %}
                        <td class="bold">Fra</td>
                    {% endif %}
                    {% if showTo %}
                        <td class="bold">Til</td>
                    {% endif %}
                    <td class="bold">Status</td>
                    <td class="bold">Handling</td>
                </tr>
                {% for route in routes %}
                    <tr class="hover-grey">
                        {% if showFrom %}
                            <td> <a href="/master/location?id={{route.fromLocationId}}"
                                class="hover-underline">
                                {{route.fromLocationId | locationName}}
                            </a> </td>
                        {% endif %}
                        {% if showTo %}
                            <td> <a href="/master/location?id={{route.toLocationId}}"
                                class="hover-underline">
                                {{route.toLocationId | locationName}}
                            </a> </td>
                        {% endif %}
                        <td>{{ "Åben" if route.is_open else "Lukket" }}</td>
                    <td>

                        <form hx-post="/master/changeRouteStatus" hx-target="closest tr" hx-swap="outerHTML" style="display:inline">
                        <input type="hidden" name="routeId" value="{{route.id}}">
                        <input type="hidden" name="open" value="{{ "false" if route.is_open else "true" }}">
                        <button type="submit" class="button button-secondary">{{ "Luk" if route.is_open else "Åbn" }}</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endmacro %} #}