<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="target/server.js" verb="*" modules="iisnode" />
        </handlers>

        <defaultDocument enabled="true">
            <files>
                <add value="target/server.js" />
            </files>
        </defaultDocument>

    </system.webServer>
</configuration>