body,
html {
    height: 100%;
}

.bg {
    background-image: url(images/bg-login.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.header {
    text-align: center;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serifS;
    opacity: 100%;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    opacity: 100%;
}

p {
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    opacity: 100%;
    color: white;
}

button {
    opacity: 100%;
    font-size: 2.5em;
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 1em;
}

input {
    opacity: 100%;
    width: 90%;
    height: 50px;
    margin: auto;
    display: block;
    font-size: 2em;
    /* text-align: center; */
}